<html>
  <head><title></title>
    <style>
        body {
    background-color:white;
}
input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    width: 30%;
    background: #f1f1f1;
}

        .button {
            
    width: 10%;
    padding: 10px;
    background: white;
    color: grey;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
 
}
        #detail_city_name{
            padding-left:5px;
            padding-top:50px;
            font-size:50px;
            
        }
        #detail_city_temp{
             padding-left:5px;
            padding-top:50px;
            font-size:20px;
            
        }


.button:hover {background-color: grey,color:white}

        h1{
            font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
 font-weight: normal;
        font-size: 1.75em;
 letter-spacing: .2em;
 line-height: 1.1em;
 margin:0px;
            color:grey;
        }
        
</style></head>
  <body>
      <!--<center><h1>WEATHER HACK</h1></center>
      <hr>-->
   <center> <form  height="25" action="/" method="post">
     <br>
      <input type="text" name="city" placeholder="Search City..">
      <input class="button" type="submit" value="SHOW">
       </form>
       <% if(weather!==null){ %>
      <h1 id="detail_city_name"> <%= weather %> </h1>
      <h1 id="detail_city_temp"><%= temp %></h1>
      <h1 id="detail_city_temp"><%= humidity %></h1>
       <h1 id="detail_city_temp"><%= pressure %></h1> 
      <h1 id="detail_city_temp"><%= description %></h1>
        
      <% } %>
       <% if(error!==null){ %>
      <h1>   <%= error %> </h1>
      <% } %>
      </center>
     
  </body>
</html>